.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.allLinks{
  color: black;
  /* text-decoration: none; */
  font-weight: bold;
}
.allLinks:hover{
  color:aqua;
  background-color: #109c85;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 255, .2);
  /* box-shadow: -1.5px -1.5px 2px 1px rgba(160, 60, 255, .2); */
  padding: 0px 3px;
  margin: 0px 1px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}
p.mediaInquiry{
  font-size: 18px;
  font-weight: bold;
}
.reviewTexts, .ticketTexts{
  font-size: 15px;
  padding: 20px 50px;
}
.mediaText{
  padding: 10px 50px;
}
.linkReview{
  padding: 10px 50px;
  display:inline-flex;
}